

        <ngui-map [options]="allOptions" style="height:250px;" (mapReady$)="onMapReady($event)">
            <marker [icon]="{url: rideMarkerUrl()}">
            </marker>
            <directions-renderer [markerOptions]="{icon: markerIconUrl()}" [draggable]="false"  (directions_changed)="directionsChanged()"
                [directions-request]="direction">
            </directions-renderer>
        </ngui-map>

<br style="clear:both;">

