

<div class="row" [@routerTransition]>
    <div class="col-lg-12" >
        <ul style="list-style: none; font-size:12px;">
            <li  style="margin:10px;" *ngFor="let passenger of passengerList">
                <div class="card">
                    <div class="card-image" style="width:60px;">
                        <img src="assets/images/default_male.png" style="height:55px;">
                    </div>
                    <div style="width:100%; height:100%; flex-direction:row;">
                        <div class="card-header">
                            <div class="card-header-subHeader">
                                <div class="card-text-dark">{{passenger.name}}</div>
                                <div class="card-text-light" style="margin-top:5px;"><img src="assets/images/verified_new.png" style="height:20px; margin-right:5px;">Adernal Labs</div>
                            </div>
                            <a (click)="openChat(null)">
                                <i class="fa fa-comments" style="width:30px;"></i>
                            </a>
                            <a href="tel:{{passenger.contactNo}}">
                                <i class="fa fa-phone" style="width:30px;"></i>
                            </a>
                            <a (click)="invitePassenger()" class="btn rounded-btn" style="width:80px; height:30px; margin-right:-10px; "><span class="rounded-btn-text">Invite</span></a>
                        </div>
                        <div>
                            <div style="width:100%; display:flex;flex-direction:row;">
                                <img src="assets/images/default_male.png" style="display:flex; height:40px; width:2px;">
                                <div style="margin-left:5px">
                                    <p class="trip-Text">{{passenger.fromLocationAddress}}
                                        <br/>
                                        {{passenger.toLocationAddress}} </p>
                                </div>
                            </div>
                        <ul style="margin-left:-50px;">

                            <li class="route-info">{{passenger.matchPercentage}}%</li>
                            <li class="route-info"> {{passenger.pickupTime | date:'shortTime' }}</li>
                                <li class="route-info">{{passenger.rating}}
                                    <i class="fa fa-star" style="color:#FFD700"></i>
                                </li>


                                <li class="route-info"  style="color:#16b1e0">{{passenger.points}} </li>
                                <li class="route-info">{{passenger.requiredSeats}}</li>

                            <li class="route-info">Route</li>
                            <li class="route-info">Pickup</li>
                            <li class="route-info">Rating</li>
                            <li class="route-info" style="color:#16b1e0">Points</li>
                            <li class="route-info">Seats</li>
                        </ul>
                        <p style="height:30px">
                        <br/>
                        </p>
                    </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

