.route-info{
    list-style: none;
    font-size:10px;
    float: left;
    width: 20%;


}
.rounded-btn {
    -webkit-border-radius: 50px;
    border-radius: 50px;
    color:#000000;
    background: #ffff;
    border: 2px solid #36C657;
    font-size: 12px;
    line-height: 20px;
    padding: 0 15px;
}
.rounded-btn:hover,
.rounded-btn:focus,
.rounded-btn:active,
.rounded-btn:visited {
    color:#000000;
    border: 2px solid #000000;
    outline: none;
}
.invite-action{
    display: inline;
}
.card {
    display: flex;
    flex-direction: row;
    margin: 0px;
    border-color: white;
    border-bottom-color: #777777;
    border-radius: 0px;
    margin-left:-20px;
}
.card-header {
    display: flex;
    flex-direction: row;
    background: #ffffff;
    margin: 0px;
    border:0px;
}
.card-header-subHeader {
    display: inherit;
    flex-direction: column;
    margin-top: 0px;
    width: 100%;
    margin-left:-20px;
    margin-right:0px;
}
.card-image {
    display: flex;
    height: 60px;
    width: 60px;
    margin: 5px;
}
