<div class="login-page" [@routerTransition]>
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <img src="assets/images/app_logo.png" width="100px" />
                <h1>QuickRide</h1>
                <form role="form" [formGroup]="loginForm">
                    <div class="form-content">
                        <div class="form-group"  matTooltip="Enter Phone Number">
                            <input type="text" formControlName="phone"
                             class="form-control input-underline input-lg"
                             id="phone" required >
                             <span class="floating-label">Phone</span>
                        </div>
                        <div class="form-group"  matTooltip="Enter Password">
                            <input type="password" class="form-control input-underline input-lg" id="password"  formControlName ="password" required>
                            <span class="floating-label">Password</span>
                        </div>
                        <div class="form-group" align="left">
                            <a [routerLink]="['/password-reset']" style="cursor: pointer; color: green">Forgot Password ?</a>
                        </div>
                    </div>
                    <a class="btn rounded-btn" (click)="loginUser()"> Log In </a>
                    <a class="btn rounded-btn" [routerLink]="['/signup']"> Sign Up </a>


                </form>
            </div>
        </div>
    </div>