<div [@routerTransition]>
    <div class="container">



            <div class="dashboard-container" *ngIf="!tripCompleted">
                <!--Map -->
                <app-map [ridePosted]="ridePosted" [rideStart]="rideStart" (pickupCoords)="getPickupCoords($event)" (destinationCoords)="getDestinationCoords($event)"
                    (pickupAddress)="getPickupAddress($event)" [pickup]="latlng" [dest]="destLatLong">
                </app-map>

                <!-- End of Map-->

                <!--Ride Form -->
                <app-ride [defaultVehicle]="defaultVehicle" *ngIf="!showRideInfo" (pickupAddress)="getPickupAddress($event)" (destinationAddress)="getDestinationAddress($event)"
                    (pickupCoords)="getPickupCoords($event)" (destinationCoords)="getDestinationCoords($event)" (rideTime)="getRideTime($event)"
                    (callPostRide)="postRide()" (callEditRide)="updateRide()" (rideRouteObject)="getRideRoute($event)">

                </app-ride>
                <!--End of Ride Form -->

                <!--Ride Details -->

                <mat-card *ngIf="showRideInfo">
                    <mat-card-content>
                        <mat-accordion>

                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <p style="margin-top:10px">
                                        <strong> {{currentRide.vehicleModel}}</strong> &nbsp;
                                        <strong> {{currentRide.vehicleNumber}}</strong> &nbsp;
                                        <strong>
                                            <i class="fa fa-edit" (click)="editRide()"></i>
                                        </strong>
                                        <br/>
                                        <strong> {{currentRide.startTime | date:'dd-MM-yyyy HH:mm':'en-IN' }}</strong>
                                    </p>
                                </mat-expansion-panel-header>
                                <p style="color:grey; font-size:12px;">

                                    {{currentRide.startAddress}}
                                    <br/>
                                    <i class="fa fa-arrow-down"></i>
                                    <br/> {{currentRide.endAddress}}
                                </p>
                                <button class="btn btn-danger form-control" (click)="cancelRide()">Cancel Ride</button>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-card-content>
                </mat-card>


                <div *ngIf="showRideInfo">
                    <app-passenger-list [currentRide]="currentRide" #passenger>

                    </app-passenger-list>

                    <br style="clear:both">

                    <button class="btn btn-success form-control" (click)="startRide()" *ngIf="!rideStart">Start Ride</button>
                    <button class="btn btn-danger form-control" (click)="stopRide()" *ngIf="rideStart">Stop Ride</button>
                </div>



            </div>
            <!--Trip Report -->
            <div class="col-md-6" style="float: none; margin: 0 auto;" *ngIf="tripCompleted && !feedBackForm">
                <app-trip-report [tripReport]="tripReport" (feedback)="showFeedback($event)" (tripreport)="showNewRide($event);"></app-trip-report>

            </div>
            <!--End of Trip Report -->

            <!--Feedback form -->
            <div class="col-md-6" style="float: none; margin: 0 auto;" *ngIf="feedBackForm">
                <app-feedback [userId]="userId" [riderId]="riderId" [riderName]="riderName" [rideId]="rideId" (feedback)="showNewRide($event);"></app-feedback>

            </div>
            <!--End of feedback form -->
        </div>
        <hr>





</div>
