<div class="container">
    <div class="row justify-content-md-center">
            <div class="card" style="width:100%">
              <div class="text-center" id="profile-image">
                  <img class="card-img-top" src="assets/images/default_male.png" alt="Card image cap" style="width:100px">
              </div>

                <div class="card-body">
                  <h5 class="card-title text-center">Elliot</h5>
                  <div class="text-center">
                      <ul id="ride-stats">
                          <li>Total Rides</li>
                          <li>As Rider</li>
                          <li>As Passenger</li>
                        </ul>
                        <ul id="ride-stats">
                            <li>{{totalRides}}</li>
                            <li>{{riderRides}} </li>
                            <li>{{passengerRides}} </li>
                          </ul>
                          <br>
                      <p style="font-size: 12px;margin-top: 30px;">You are not verified yet ? <a [routerLink]="['/verify']" style="color: blue">Verify Now</a></p>
                  </div>

                </div>
                <ul class="list-group list-group-flush" id="location-setting">
                  <li class="list-group-item"><a href="#"><i class="fa fa-home"></i> Set Home Location</a></li>
                  <li class="list-group-item"><a href="#"><i class="fa fa-briefcase"></i> Set Office Location</a></li>

                </ul>
                <ul class="list-group list-group-flush" id="general-setting">
                    <li class="list-group-item"><a [routerLink]="['/register-vehicle']">Add Vehicle</a> </li>
                    <li class="list-group-item"><a href="#">Eco Meter</a> </li>
                    <li class="list-group-item"><a href="#">My Account</a> </li>

                  </ul>

              </div>
        </div>

</div>
