$topnav-background-color: #fff;
:host {
    display: block;
}
.login-page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: $topnav-background-color;
    text-align: center;
    color: #000000;
    padding: 3em;
    .col-lg-4 {
        padding: 0;
    }
    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
    }
    .input-underline {
        background: 0 0;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid #000000;
        color: rgb(7, 7, 7);
        border-radius: 0;
    }
    .input-underline:focus {
        border-bottom: 2px solid #36C657;
        box-shadow: none;
    }
    .rounded-btn {
        // -webkit-border-radius: 50px;
        // border-radius: 50px;
        color:#000000;
        background: $topnav-background-color;
        border: 2px solid #36C657;
        font-size: 18px;
        line-height: 50px;


    }
    .rounded-btn:hover,
    .rounded-btn:focus,
    .rounded-btn:active,
    .rounded-btn:visited {
        color:#000000;
        border: 2px solid #000000;
        outline: none;
    }

    h1 {
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 36px;
        small {
            color: #000000;
        }
    }

    .form-group {
        padding: 8px 0;
        input::-webkit-input-placeholder {
            color: dimgrey !important;
        }

        input:-moz-placeholder {
            /* Firefox 18- */
            color:dimgrey !important;
        }

        input::-moz-placeholder {
            /* Firefox 19+ */
            color: dimgrey !important;
        }

        input:-ms-input-placeholder {
            color: dimgrey !important;
        }
    }
    .form-content {
        padding: 40px 0;
    }



  .register-vehicle-label
  { float: left;
    clear: left;
    width: 100%;
    color:#36C657;
    font-size:small;
    //padding-bottom: 1em;
  }


}
#ride-stats{
    list-style: none;
    font-size:12px;

    padding:0; margin:0; white-space:nowrap;
}
#ride-stats li{
    float:left;
    width:33%;

}
#location-setting{
    color: blue;
}
#general-setting{
    color: blue;
}
#profile-image{
    margin-top:15px;
}