.input-lg {
    height: 20px;
    padding: 10px 16px;
    font-size: 14px;
   // line-height: 1.3333333;
    border-radius: 0;
    width:100%;
}
.input-underline {
    background: 0 0;
    border: none;
    box-shadow: none;
    border-bottom: 1px solid #a09999;
    color: rgb(7, 7, 7);
    border-radius: 0;
}
.input-underline:focus {
    border-bottom: 2px solid #36C657;
    box-shadow: none;
}
table tr{
    height:60%;
}
table{
    width: 100%;
}
// Check app.scss to see google maps autocomplete width

