
        <table>
            <tr>
                <td>
                    <div class="form-group">
                        <input places-auto-complete (place_changed)="autocompletePickup($event)" class="form-control input-lg input-underline" [types]="['geocode']"
                            [(ngModel)]="startAddress" id="pickupAddress" #pickupAddress placeholder="Enter Pickup Location">

                    </div>

                </td>
                <td>
                    <i class="fa fa-arrow-right" style="font-size:10px"></i>
                </td>
                <td>
                    <div class="form-group">
                        <input places-auto-complete (place_changed)="autocompleteDestination($event)" [types]="['geocode']" [(ngModel)]="endAddress"
                            class="form-control input-lg input-underline" placeholder="Enter Drop Location">
                    </div>

                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <input [owlDateTime]="dt" [owlDateTimeTrigger]="dt" [(ngModel)]="currentTime" id="startTime" #startTime class="form-control input-lg input-underline">
                        <owl-date-time #dt [pickerMode]="'dialog'" [stepMinute]=5 (afterPickerClosed)="getStartTime()"></owl-date-time>

                    </div>

                </td>
                <td>

                </td>
                <td>
                    <p style="font-size:14px;width:100%" (click)="showAllVehicles()">{{defaultVehicle.model}}
                        <b>{{defaultVehicle.regno}} </b>

                    </p>

                </td>

            </tr>
        </table>
        <div class="form-group" *ngIf="!ridePosted">
            <input type="button" class="btn btn-success form-control" value="Post Ride" (click)="postRide()">
        </div>
        <div class="form-group" *ngIf="ridePosted">
            <input type="button" class="btn btn-success form-control" value="Edit Ride" (click)="editRide()">
        </div>



<br style="clear:both;">

<!-- End of Map -->
