$topnav-background-color: #fff;
:host {
    display: block;
}

    .input-lg {
        height: 46px;
        padding: 10px 16px;
        font-size: 18px;
        line-height: 1.3333333;
        border-radius: 0;
    }
    .input-underline {
        background: 0 0;
        border: none;
        box-shadow: none;
        border-bottom: 2px solid #000000;
        color: rgb(7, 7, 7);
        border-radius: 0;
    }
    .input-underline:focus {
        border-bottom: 2px solid #36C657;
        box-shadow: none;
    }
    .rounded-btn {
        -webkit-border-radius: 50px;
        border-radius: 50px;
        color:#000000;
        background: $topnav-background-color;
        border: 2px solid #36C657;
        font-size: 18px;
        line-height: 40px;
        padding: 0 25px;
    }
    .rounded-btn:hover,
    .rounded-btn:focus,
    .rounded-btn:active,
    .rounded-btn:visited {
        color:#000000;
        border: 2px solid #000000;
        outline: none;
    }

    h1 {
        font-weight: 300;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 36px;
        small {
            color: #000000;
        }
    }

    .form-group {
        padding: 8px 0;
        position: relative;
        input::-webkit-input-placeholder {
            color: dimgrey !important;
        }

        input:-moz-placeholder {
            /* Firefox 18- */
            color:dimgrey !important;
        }

        input::-moz-placeholder {
            /* Firefox 19+ */
            color: dimgrey !important;
        }

        input:-ms-input-placeholder {
            color: dimgrey !important;
        }
    }
    .form-content {
        padding: 40px 0;
    }


/* Shared */
.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
  }
  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }


  /* Facebook */
  .loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
  }
  .loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
  }
  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }
  .register-vehicle-label
  { float: left;
    clear: left;
    width: 100%;
    color:#36C657;
    font-size:small;
    //padding-bottom: 1em;
  }

.form-group .floating-label {
	position: absolute;
	pointer-events: none;
    bottom:20px;
    left: 15px;
    font-size: 18px;
    transition: 0.2s ease all;
    color:dimgrey !important;
}
.form-group input:focus ~ .floating-label,
.form-group input:not(:focus):valid ~ .floating-label{
    bottom:50px;
	left: 15px;
	font-size: 13px;
    opacity: 1;
    color:dimgrey !important;
}


