<div class="container">
    <div class="row justify-content-md-center">


        <div class="card" style="width:100%">
            <div class="text-center" id="profile-image">
                <img class="card-img-top" src="assets/images/default_male.png" alt="Card image cap" style="width:80px;margin-top:20px;">
            </div>

            <div class="card-body">
                <h5 class="card-title text-center">Elliot </h5>

                <form role="form" [formGroup]="verifyForm">
                    <div class="form-content">
                        <div class="form-group" matTooltip="Enter Designation">
                            <input type="text" class="form-control input-underline input-lg" id="designation" formControlName="designation" name="designation">
                            <span class="floating-label">Designation</span>
                        </div>
                        <div class="form-group" matTooltip="Enter Company Name">
                            <input type="text" class="form-control input-underline input-lg" id="company_name" formControlName="company_name" required>
                            <span class="floating-label">Company Name</span>
                        </div>
                        <div class="form-group" matTooltip="Enter Organization Email Id">
                            <input type="email" class="form-control input-underline input-lg" id="email" formControlName="email" required>
                            <span class="floating-label">Email</span>
                        </div>
                        <div class="form-group" matTooltip="Enter Email Id">
                            <input type="email" class="form-control input-underline input-lg" id="communicationEmail" formControlName="communicationEmail">
                            <span class="floating-label">Email for Communcation</span>
                        </div>

                        <a class="btn rounded-btn" (click)="onSubmit()">Save</a>
                    </div>
                </form>


            </div>


        </div>
    </div>

</div>
