
            <div class="card">
                    <ul class="ride-list">
                        <li>
                            <div class="rider-wrap">
                                <a href="#">
                                    <span>
                                        <img src="assets/images/default_male.png" alt="">
                                    </span>
                                    <strong>{{riderProfile.user.name}}</strong>
                                </a>
                            </div>
                            <div class="pass-wrap" *ngIf="passengers.length===0">
                                    <p style="font-size: 12px;color: grey;display: block">
                                        Shared options not available at this point of time . We will notify you as soon as we find a match .
                                    </p>


                            </div>
                            <div class="pass-wrap"  *ngIf="passengers.length!==0">
                                    <a href="#"  *ngFor="let passenger of passengers">
                                        <span>
                                            <img src="assets/images/default_male.png" alt="">
                                        </span>
                                        <strong>{{passenger.name}}</strong>
                                    </a>
                                </div>

                            <div class="invite-wrap">
                                        <a (click)="seeInviteList()">
                                            <span>
                                                <img src="assets/images/invite.png" alt="">
                                            </span>
                                            <strong>Invite({{noOfInvitees}})</strong>
                                        </a>
                            </div>
                        </li>
                    </ul>

                </div>

