

<mat-card *ngIf="!showEditVehicleForm">
    <mat-card-header>
        <h2>My Vehicles</h2>
    </mat-card-header>
    <mat-card-content>

        <mat-list>

            <mat-list-item *ngFor="let vehicle of vehicleList">
                <h4 mat-line>
                    <strong>Name : </strong>
                    <p>{{vehicle.makeAndCategory}}</p>
                </h4>
                <br/>
                <h4 mat-line>
                    <strong>Model :</strong>
                    <p> {{vehicle.model}}</p>
                </h4>
                <br/>
                <h4 mat-line>
                    <strong>Reg No :</strong>
                    <p>{{vehicle.regno}}</p>
                </h4>
                <br/>

                <button class="btn rounded-btn" (click)="editVehicle(vehicle)" style="margin:5px;background: white;"><i class="fa fa-edit"></i></button>
                <button class="btn rounded-btn" (click)="deleteVehicle(vehicle)" style="margin:5px;background: white"><i class="fa fa-trash-o"></i></button>
                <button class="btn rounded-btn" (click)="setDefaultVehicle(vehicle)" style="margin:5px;background: white"><i class="fa fa-car"
                    ></i></button>

                <h4 mat-line></h4>
                <mat-divider></mat-divider>
            </mat-list-item>

        </mat-list>

    </mat-card-content>

</mat-card>
<div *ngIf="showEditVehicleForm">
    <app-edit-vehicle [vehicle]="currentVehicle" (showEditVehicleForm)="editCompleteStatus($event)">

    </app-edit-vehicle>
</div>